@import url('https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.title{
  font-family: "Baskervville", serif;
  font-weight: 800;
  font-style:normal;
  color: #7B3F00;
}

.subtitle{
  font-family: "Baskervville", serif;
  font-weight: 500;
  font-style: normal;
  color: #7B3F00;
}
.body-text {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  color: #333333;
}

p{
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  color: #333333;
}
footer{
  bottom:0;
  background-color: #FFC3A0;
  margin-top: auto
}
.App {
  background-color: #FFC3A0;
  min-height: 65vh; 
  display: flex;
  flex-direction: column;
}

.App-logo {
  width: 90%;
  pointer-events: none;
}


.hero{
  height: 90vh;
}
.about{
  height: 70vh;
  background-color: #FFF4E0;
}
.hero-img{
  object-fit: contain;
  
}
.about-img{
  object-fit: contain;
}

.nav{
  background-color: #FFC3A0;
}
button{
  background-color: #FF6F61;
  font-family: "Poppins", serif;
  border-width: 0%;
  border-color: #FF6F61;
  padding: 1%;
}